<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bside.BSIDE14_3.user.persistence.LoginMapper">
 
 	<select id="getLoginUserCheck" parameterType="com.bside.BSIDE14_3.user.domain.UserDto" resultType="com.bside.BSIDE14_3.user.domain.UserDto">
		/* com.bside.BSIDE14_3.sample.service.LoginMapper.getLoginUserCheck 로그인 */
		SELECT EML 		/* 이메일 */
			, PASSWORD  /* 비밀번호 */
			, USR_NM 	/* 사용자명 */
			, WHDWL_DTM /* 탈퇴일자 */
		  FROM bside.cust 
		WHERE EML = #{eml}
 	</select>	
 	
</mapper>